* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgba(44, 31, 44, 0.904);
  padding: 1rem;
}

.camera-container {
  /* border: 1px solid yellow; */

  height: 300px;
  width: 400px;
  /* border-radius: 1rem; */
  position: relative;
}
#video {
  height: 100%;
  width: 100%;
}
#capture-button {
  position: absolute;
  background-color: blue;
  border-radius: 1rem;
  padding: 0.5rem 3rem;
  color: #fff;
  left: 50%;
  width: 50%;

  transform: translatex(-50%);
  bottom: -50px;
  border: none;
  box-shadow: 0 3px 0px rgb(16, 16, 153);
  cursor: pointer;
}
#cancel-button {
  position: absolute;
  background-color: tomato;
  border-radius: 1rem;
  padding: 0.5rem 3rem;
  color: #fff;
  left: 50%;
  transform: translatex(-50%);
  bottom: -100px;
  width: 50%;
  border: none;
  box-shadow: 0 3px 0px rgb(167, 55, 36);
  cursor: pointer;
}
#capture-button:hover {
  background-color: rgb(31, 31, 248);
}
#cancel-button:hover {
  background-color: rgba(250, 117, 93, 0.911);
}
#capture-button:active {
  box-shadow: 0 1px 0px rgb(16, 16, 153);
  transform: scale(0.95) translatex(-50%);
}
#cancel-button:active {
  box-shadow: 0 1px 0px rgba(252, 120, 97, 0.795);
  transform: scale(0.95) translatex(-50%);
}
